:root {
	--cui-footer-bg: var(--cui-dark);
	--cui-footer-color: var(--cui-light);
	--cui-footer-border-width: 0px;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}

h2 {
	text-decoration: underline;
}

a[role="button"] {
	color: var(--cui-light) !important;
}

.scriptContent .callout {
	max-width: max-content;
}

.gallery {
	gap: 0.5rem;
}

.gallery img {
	max-height: 8.5rem;
}
